@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  @keyframes verticalWipe {
    from {
      clip-path: inset(50% 0 50% 0);
    }
    to {
      clip-path: inset(0% 0 0% 0);
    }
  }
}

@keyframes verticalWipe {
  from {
    clip-path: inset(50% 0 50% 0);
  }
  to {
    clip-path: inset(0% 0 0% 0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-up {
  opacity: 0;
  animation-name: fadeUp;
  animation-timing-function: ease-out;
}



/* client carousel*/ 

@keyframes client-slider-fade-down {
  0% {
    opacity: 0;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes client-slider-fade-up {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(2rem);
  }
}

.client-slider-animate-text-enter {
  animation: client-slider-fade-down 0.6s ease forwards;
}

.client-slider-text-line-1 {
  animation-delay: 0.1s;
}

.client-slider-text-line-2 {
  animation-delay: 0.3s;
}

.client-slider-text-line-3 {
  animation-delay: 0.5s;
}